<div class="jumbotron">
  <h1>Welcome to Discover Vancouver!</h1>
  <p>Your One-Stop-Everything in Vancouver</p>
  <p><%= link_to 'Get Started', new_user_registration_path, class: "btn btn-primary btn-lg" %></p>
</div>